body {
    background-image:url(background.jpg);
    background-size:cover;
    font-family:Arial;
    padding:70px;
}
#cat {
    width: 400px;
    height: 500px;
    background-image:url(kittens.jpg);
    padding: 20px;
    margin-top:0px;
    margin-bottom:10px;
    background-size:cover;
    float:left;
    border-left-style:ridge;
    border-right-style:ridge;
    border-top:ridge;
    border-bottom:ridge;
    text-shadow:2px 2px 5px 5px white;
    margin-left:100px;
}

#des {
    width: 380px;
    height: 180px;
    padding: 20px;
    margin-bottom:10px;
    float:left;
    text-shadow:2px 2px 5px 5px white;
    margin-left:100px;
    font-family: cursive;
}
