body {
    background-image:url(background.jpg);
    background-size:cover;
    font-family:Arial;
    padding:70px;
}
#pic1 {
    width: 180px;
    height: 180px;
    background-image:url(pic1.jpeg);
    padding: 20px;
    margin-bottom:10px;
    background-size:cover;
    float:left;
    border-left-style:ridge;
    border-right-style:ridge;
    border-top:ridge;
    border-bottom:ridge;
    text-shadow:2px 2px 5px 5px white;
    margin-left:100px;
}
#pic2 {
    width: 180px;
    height: 180px;
    background-image:url(pic2.jpeg);
    padding: 20px;
    margin-bottom:10px;
    background-size:cover;
    float:left;
    border-left-style:ridge;
    border-right-style:ridge;
    border-top:ridge;
    border-bottom:ridge;
    text-shadow:2px 2px 5px 5px white;
    margin-left:100px;
}
#pic3 {
    width: 180px;
    height: 180px;
    background-image:url(pic3.jpeg);
    padding: 20px;
    margin-bottom:10px;
    background-size:cover;
    float:left;
    border-left-style:ridge;
    border-right-style:ridge;
    border-top:ridge;
    border-bottom:ridge;
    text-shadow:2px 2px 5px 5px white;
    margin-left:100px;
}
#pic4 {
    width: 180px;
    height: 180px;
    background-image:url(pic4.jpeg);
    padding: 20px;
    margin-bottom:10px;
    background-size:cover;
    float:left;
    border-left-style:ridge;
    border-right-style:ridge;
    border-top:ridge;
    border-bottom:ridge;
    text-shadow:2px 2px 5px 5px white;
    margin-left:100px;
}
#pic5 {
    width: 180px;
    height: 180px;
    background-image:url(pic5.jpeg);
    padding: 20px;
    margin-bottom:10px;
    background-size:cover;
    float:left;
    border-left-style:ridge;
    border-right-style:ridge;
    border-top:ridge;
    border-bottom:ridge;
    text-shadow:2px 2px 5px 5px white;
    margin-left:100px;
}
#pic6 {
    width: 180px;
    height: 180px;
    background-image:url(pic6.jpeg);
    padding: 20px;
    margin-bottom:10px;
    background-size:cover;
    float:left;
    border-left-style:ridge;
    border-right-style:ridge;
    border-top:ridge;
    border-bottom:ridge;
    text-shadow:2px 2px 5px 5px white;
    margin-left:100px;
}
#pic7 {
    width: 180px;
    height: 180px;
    background-image:url(pic7.jpeg);
    padding: 20px;
    margin-bottom:10px;
    background-size:cover;
    float:left;
    border-left-style:ridge;
    border-right-style:ridge;
    border-top:ridge;
    border-bottom:ridge;
    text-shadow:2px 2px 5px 5px white;
    margin-left:100px;
}
#pic8 {
    width: 180px;
    height: 180px;
    background-image:url(pic8.jpeg);
    padding: 20px;
    margin-bottom:10px;
    background-size:cover;
    float:left;
    border-left-style:ridge;
    border-right-style:ridge;
    border-top:ridge;
    border-bottom:ridge;
    text-shadow:2px 2px 5px 5px white;
    margin-left:100px;
}
#pic9 {
    width: 180px;
    height: 180px;
    background-image:url(pic9.jpeg);
    padding: 20px;
    margin-bottom:10px;
    background-size:cover;
    float:left;
    border-left-style:ridge;
    border-right-style:ridge;
    border-top:ridge;
    border-bottom:ridge;
    text-shadow:2px 2px 5px 5px white;
    margin-left:100px;
}
#pic10 {
    width: 180px;
    height: 180px;
    background-image:url(pic10.jpeg);
    padding: 20px;
    margin-bottom:10px;
    background-size:cover;
    float:left;
    border-left-style:ridge;
    border-right-style:ridge;
    border-top:ridge;
    border-bottom:ridge;
    text-shadow:2px 2px 5px 5px white;
    margin-left:100px;
}
#pic11 {
    width: 180px;
    height: 180px;
    background-image:url(pic11.jpeg);
    padding: 20px;
    margin-bottom:10px;
    background-size:cover;
    float:left;
    border-left-style:ridge;
    border-right-style:ridge;
    border-top:ridge;
    border-bottom:ridge;
    text-shadow:2px 2px 5px 5px white;
    margin-left:100px;
}
#pic12 {
    width: 180px;
    height: 180px;
    background-image:url(pic12.jpeg);
    padding: 20px;
    margin-bottom:10px;
    background-size:cover;
    float:left;
    border-left-style:ridge;
    border-right-style:ridge;
    border-top:ridge;
    border-bottom:ridge;
    text-shadow:2px 2px 5px 5px white;
    margin-left:100px;
}